<%- include('../partials/header', {title: 'Home'})%>
<%- include('../partials/messages')%>
<div class="container">

    <main role="main" class=" p-4 mt-4 bg-light rounded">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron bg-light">
          <div class="container">
            <h1 class="display-3">Notes app</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
          </div>
        </div>  
       
          <hr>
    
        </div> <!-- /container -->
    
      </main>
</div>
<%- include('../partials/footer')%>