<% errors.forEach((msg)=>{%>
    <div class="container-lg mt-3">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= msg.msg%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    </div>
  <%})%> 
  