<%- include('../partials/header', {title: 'Form'})%>
<div class="container-lg">
  <h1 class="text-white text-center mt-4">Add new note</h1>
    <form class="d-flex flex-column w-50 mx-auto" method="POST" action="/api/v1/notes">
        <div class="mb-3">
          <label for="noteTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="noteTitle" name="title" placeholder="Title">
        </div>       
        <div>
            <textarea name="description" rows="3" placeholder="Description" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
</div>
  <%- include('../partials/footer')%>