<%- include('../partials/header', {title: 'Register'})%>


<div class="container-lg w-50">
    <form class="row g-3 bg-light mt-4 p-4 rounded" method="POST" action="/api/v1/users/new-user">
        <h1 class="text-dark text-center pt-2">Register</h1>
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName4" name="name">
          </div>
          <div class="col-md-6">
            <label for="inputLastname4" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="inputLastname4" name="lastname">
          </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" name="email">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password2">
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
</div>
      </form>
</div>

  <%- include('../partials/footer')%>